

body {
    background-color:#000000;
}

.window-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #ffffff;
}